<div ng-controller="WeatherCtrl" class="weather-div" class="col-md-6">


      <h5 >Current Temperature: {{stuffs.temp}}</h5>
      <p >Today's High: {{stuffs.temp_max}}</p>
      <p >Today's Low: {{stuffs.temp_min}}</p>

  </div>
